<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Editar Artigo</h2>
    </div>

    <div class="card-body">
      <form action="/admin/articles/update" method="post">
        <input type="hidden" name="articleId" value="<%= article.id %>">

        <label for="articleTitulo">Título</label>
        <input type="text" name="articleTitle" id="articleTitle" class="form-control" placeholder="Título do Artigo" value="<%= article.title %>">

        <hr>

        <label for="articleCategory">Categoria</label>
        <select name="articleCategory" id="articleCategory" class="form-control">
          <option value="" disabled>
            Selecione a categoria do seu artigo
          </option>

          <% categories.forEach(category => { %>
            <% if (article.categoryId == category.id)  { %>
              <option value="<%= category.id %>" selected>
                <%= category.title %>
              </option>
            <% } else {  %>
              <option value="<%= category.id %>">
                <%= category.title %>
              </option>
            <% } %>
          <% })  %>

        </select>

        <hr>

        <textarea name="articleBody" id="articleBody" class="form-control" rows="15" placeholder="Escreva o artigo aqui"></textarea>

        <button class="btn btn-primary mt-5 btn-block">Atualizar</button>
      </form>
    </div>
  </div>
</div>

<div id="content" style="display: none;">
  <%- article.body %>
</div>

<script src="/js/tinymce/tinymce.min.js"></script>
<script src="/js/articles.js"></script>

<%- include('../../partials/footer.ejs') %>
