<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Novo artigo</h2>
    </div>

    <div class="card-body">
      <form action="/admin/articles/save" method="POST">
        <label for="articleTitle">Título</label>
        <input type="text" name="articleTitle" id="articleTitle" class="form-control" placeholder="Título do artigo">

        <hr>
        
        <label for="Categoria">Categoria</label>
        <select name="articleCategory" id="articleCategory" class="form-control">
          <option value="" selected disabled>Selecione a categoria do seu artigo</option>
          
          <% categories.forEach(category => { %>
            <option value="<%= category.id %>"><%= category.title %></option>
          <% }) %>
        </select>
        
        <hr>

        <textarea name="articleBody" id="articleBody" class="form-control" rows="15" placeholder="Escreva o artigo aqui!"></textarea>

        <button class="btn btn-primary mt-5 btn-block">Publicar</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/tinymce/tinymce.min.js"></script>
<script src="/js/articles.js"></script>

<%- include('../../partials/footer.ejs') %>
